openapi: 3.0.1
info:
  contact:
    email: info@finbourne.com
    name: FINBOURNE Technology
    url: https://www.finbourne.com
  termsOfService: https://www.finbourne.com/legal/terms-conditions
  title: FINBOURNE Horizon API
  version: 0.1.1774
  x-logo:
    url: https://www.lusid.com/app/assets/logo_white.png
    backgroundColor: '#415464'
servers:
- url: https://fbn-prd.lusid.com/horizon
security:
- {}
tags:
- description: Provides instrument search and upsert functions.
  name: Instrument
- description: "Install, configure, and execute Horizon integrations"
  name: Integrations
- description: Get Integration Logs
  name: Logs
- description: Provides details on Horizon processes
  name: ProcessHistory
- description: Get Integration runs
  name: Runs
- description: Provides information about Vendor configurations
  name: Vendor
paths:
  /api/instrument/onboarding/create:
    post:
      operationId: CreateInstrument
      requestBody:
        content:
          application/json-patch+json:
            example:
              dataResults:
              - openFigiResult:
                  figi: BBG000C6K6G9
                  name: VODAFONE GROUP PLC
                  ticker: VOD
                  exchangeCode: LN
                  mic: ICE
                  exchangeName: IFLL
                  marketSector: Equity
                  generalSecurityType: Common Stock
                  securityType: Common Stock
                  securityDescription: VOD
                  compositeFigi: BBG000C6K5W3
                  shareClassFigi: BBG001S6PJ31
                  matchType: TICKER
                  searchInput: VOD LN Equity
                  lusidInstrumentId: LUID_00003LQ6
                  lusidInstrumentScope: default
                permIdResult:
                  figi: BBG000C6K6G9
                  ticker: VOD
                  mic: XLON
                  quotePermId: "55836053361"
                  isPrimaryQuote: true
                  legalEntityIdentifier: LEI000000
              primaryVendorKey: Vendor-ProductKey
              secondaryVendorKeys:
              - Vendor-ProductKey
            schema:
              $ref: '#/components/schemas/OnboardInstrumentRequest'
          application/json:
            example:
              dataResults:
              - openFigiResult:
                  figi: BBG000C6K6G9
                  name: VODAFONE GROUP PLC
                  ticker: VOD
                  exchangeCode: LN
                  mic: ICE
                  exchangeName: IFLL
                  marketSector: Equity
                  generalSecurityType: Common Stock
                  securityType: Common Stock
                  securityDescription: VOD
                  compositeFigi: BBG000C6K5W3
                  shareClassFigi: BBG001S6PJ31
                  matchType: TICKER
                  searchInput: VOD LN Equity
                  lusidInstrumentId: LUID_00003LQ6
                  lusidInstrumentScope: default
                permIdResult:
                  figi: BBG000C6K6G9
                  ticker: VOD
                  mic: XLON
                  quotePermId: "55836053361"
                  isPrimaryQuote: true
                  legalEntityIdentifier: LEI000000
              primaryVendorKey: Vendor-ProductKey
              secondaryVendorKeys:
              - Vendor-ProductKey
            schema:
              $ref: '#/components/schemas/OnboardInstrumentRequest'
          text/json:
            example:
              dataResults:
              - openFigiResult:
                  figi: BBG000C6K6G9
                  name: VODAFONE GROUP PLC
                  ticker: VOD
                  exchangeCode: LN
                  mic: ICE
                  exchangeName: IFLL
                  marketSector: Equity
                  generalSecurityType: Common Stock
                  securityType: Common Stock
                  securityDescription: VOD
                  compositeFigi: BBG000C6K5W3
                  shareClassFigi: BBG001S6PJ31
                  matchType: TICKER
                  searchInput: VOD LN Equity
                  lusidInstrumentId: LUID_00003LQ6
                  lusidInstrumentScope: default
                permIdResult:
                  figi: BBG000C6K6G9
                  ticker: VOD
                  mic: XLON
                  quotePermId: "55836053361"
                  isPrimaryQuote: true
                  legalEntityIdentifier: LEI000000
              primaryVendorKey: Vendor-ProductKey
              secondaryVendorKeys:
              - Vendor-ProductKey
            schema:
              $ref: '#/components/schemas/OnboardInstrumentRequest'
          application/*+json:
            example:
              dataResults:
              - openFigiResult:
                  figi: BBG000C6K6G9
                  name: VODAFONE GROUP PLC
                  ticker: VOD
                  exchangeCode: LN
                  mic: ICE
                  exchangeName: IFLL
                  marketSector: Equity
                  generalSecurityType: Common Stock
                  securityType: Common Stock
                  securityDescription: VOD
                  compositeFigi: BBG000C6K5W3
                  shareClassFigi: BBG001S6PJ31
                  matchType: TICKER
                  searchInput: VOD LN Equity
                  lusidInstrumentId: LUID_00003LQ6
                  lusidInstrumentScope: default
                permIdResult:
                  figi: BBG000C6K6G9
                  ticker: VOD
                  mic: XLON
                  quotePermId: "55836053361"
                  isPrimaryQuote: true
                  legalEntityIdentifier: LEI000000
              primaryVendorKey: Vendor-ProductKey
              secondaryVendorKeys:
              - Vendor-ProductKey
            schema:
              $ref: '#/components/schemas/OnboardInstrumentRequest'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                href: string
                values:
                - LUID_3U7CH0EW
                failed:
                  LUID_3U7CH0EZ: Invalid values were supplied.
              schema:
                $ref: '#/components/schemas/OnboardInstrumentResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] CreateInstrument: Creates and masters instruments with\
        \ third party vendors."
      tags:
      - Instrument
      x-fbn-apistatus: EarlyAccess
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/instrument/onboarding/enrich:
    post:
      operationId: EnrichInstrument
      parameters:
      - description: ""
        explode: true
        in: query
        name: vendorProductKey
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json-patch+json:
            example:
              lusidInstrumentIds:
              - LUID_00000000
            schema:
              $ref: '#/components/schemas/Identifiers'
          application/json:
            example:
              lusidInstrumentIds:
              - LUID_00000000
            schema:
              $ref: '#/components/schemas/Identifiers'
          text/json:
            example:
              lusidInstrumentIds:
              - LUID_00000000
            schema:
              $ref: '#/components/schemas/Identifiers'
          application/*+json:
            example:
              lusidInstrumentIds:
              - LUID_00000000
            schema:
              $ref: '#/components/schemas/Identifiers'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichmentResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] EnrichInstrument: Enriches an existing LUSID instrument\
        \ using vendor data. Enrichment included identifiers, properties and market\
        \ data."
      tags:
      - Instrument
      x-fbn-apistatus: EarlyAccess
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/instrument/onboarding/search/openfigi:
    get:
      operationId: SearchOpenFigi
      parameters:
      - description: ""
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      - description: "Should also search PermId for additional information, defaults\
          \ to `false`."
        explode: true
        in: query
        name: usePermId
        required: true
        schema:
          default: false
          type: boolean
        style: form
      - description: Only affects results rom OpenFigi general text search
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: "The market sector to search, defaults to `All`."
        explode: true
        in: query
        name: marketSector
        required: false
        schema:
          default: All
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenFigiSearchResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] SearchOpenFigi: Search OpenFigi for instruments that\
        \ match the specified terms."
      tags:
      - Instrument
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/instrument/onboarding/search/openfigi/parameterOptions:
    get:
      operationId: GetOpenFigiParameterOption
      parameters:
      - description: OpenFigi API Parameters that have a restricted / permitted range
          of values.
        explode: true
        in: query
        name: parameterName
        required: true
        schema:
          $ref: '#/components/schemas/OpenFigiParameterOptionName'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AllowedParameterValue'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] GetOpenFigiParameterOption: Get all supported market\
        \ sector values for OpenFigi search"
      tags:
      - Instrument
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/instrument/onboarding/search/permid/{id}:
    get:
      operationId: RetrievePermIdResult
      parameters:
      - description: The execution ID returned by a previous query
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PermIdData'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] RetrievePermIdResult: Retrieve PermId results from\
        \ a previous query."
      tags:
      - Instrument
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/instrument/onboarding/vendors:
    get:
      operationId: Vendors
      parameters:
      - description: ""
        explode: true
        in: query
        name: marketSector
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: securityType
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: generalSecurityType
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - vendorName: myVendor
                productName: myProduct
                vendorProductKey: myKey
                lusidEntity:
                  entityType: Instrument
                  entityTypeDisplayName: Instrument
                  entitySubType: Equity
                  entitySubTypeDisplayName: Equity
              schema:
                items:
                  $ref: '#/components/schemas/VendorProduct'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] Vendors: Gets the VendorProducts of any supported and\
        \ licenced integrations for a given market sector and security type."
      tags:
      - Instrument
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/integrations:
    get:
      description: "List all available integrations.\r\n```\"licensed\"``` indicates\
        \ your domain is licensed to use this integration. To request a licence\r\n\
        contact your [FINBOURNE sales representative](https://www.finbourne.com/contact/).\r\
        \nAny authenticated user can call this method."
      operationId: ListIntegrations
      responses:
        "200":
          content:
            application/json:
              example:
              - type: copp-clark
                name: Copp Clark
                description: Market holiday reference data supplied by Copp Clark
                  Limited (coppclark.com)
                supportedTriggerTypes:
                - Time
                licensed: true
              schema:
                items:
                  $ref: '#/components/schemas/IntegrationDescription'
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] ListIntegrations: List available integrations."
      tags:
      - Integrations
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/integrations/configuration/{integration}:
    get:
      description: "The user must be authenticated, entitled to call this method,\
        \ but the user's domain does not need to be licensed for the integration."
      operationId: GetIntegrationConfiguration
      parameters:
      - explode: false
        in: path
        name: integration
        required: true
        schema:
          maxLength: 128
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                type: Test-MarketData-Provider
                properties:
                - property:
                    key: Instrument/TestVendor/CreditRating
                    productEntityItemKey: o
                    domain: Instrument
                    scope: TestVendor
                    code: CreditRating
                    displayName: Credit Rating
                    dataTypeId:
                      scope: system
                      code: string
                    description: Instrument Credit Rating
                    lifetime: TimeVariant
                    constraintStyle: Property
                  vendorFields:
                  - package: SecurityMaster
                    field: INSTRUMENT_CREDIT_RATING
                  optionality: Optional
                  entityType: Instrument
                  entitySubType: ""
                  transformationDescription: ""
                  versions:
                  - "1.1"
                  - "1.2"
                - property:
                    key: Instrument/TestVendor/SourceFile
                    productEntityItemKey: o
                    domain: Instrument
                    scope: TestVendor
                    code: SourceFile
                    displayName: Source File
                    dataTypeId:
                      scope: system
                      code: string
                    description: Source File
                    lifetime: TimeVariant
                    constraintStyle: Property
                  vendorFields:
                  - package: SecurityMaster
                    field: SOURCE_FILE
                  optionality: Mandatory
                  entityType: Instrument
                  entitySubType: ""
                  transformationDescription: ""
                  versions:
                  - "1.1"
                  - "1.2"
                - property:
                    key: Instrument/TestVendor/ExchangeCode
                    productEntityItemKey: o
                    domain: Instrument
                    scope: TestVendor
                    code: ExchangeCode
                    displayName: Exchange Code
                    dataTypeId:
                      scope: system
                      code: string
                    description: Code for the exchange
                    lifetime: TimeVariant
                    constraintStyle: Property
                  vendorFields:
                  - package: SecurityMaster
                    field: TNC_ExchangeCode
                  optionality: Mandatory
                  entityType: Instrument
                  entitySubType: ""
                  transformationDescription: ""
                  versions:
                  - "1.1"
                  - "1.2"
                fields:
                - fieldName: Instrument.Identifiers:Instrument/default/Ticker
                  defaultValue: ""
                  vendorFields:
                  - package: SecurityMaster
                    field: TICKER
                  transformationDescription: ""
                  entityType: Instrument
                  entitySubType: Equity
                  versions:
                  - "1.1"
                  - "1.2"
                - fieldName: Instrument.Identifiers:Instrument/default/VendorID
                  defaultValue: ""
                  vendorFields:
                  - package: SecurityMaster
                    field: VendorID
                  transformationDescription: ""
                  entityType: Instrument
                  entitySubType: ""
                  versions:
                  - "1.1"
                  - "1.2"
                - fieldName: Instrument.Identifiers:Instrument/default/Cusip
                  defaultValue: ""
                  vendorFields:
                  - package: SecurityMaster
                    field: Cusip
                  - package: SecurityMaster
                    field: Cusip_Type
                  - package: SecurityMaster
                    field: "CUSIP2_set/CUSIP2_record[CODE='A']/IDENTIFIER"
                  transformationDescription: "If CUSIP_TYPE is 'CUSIP' or 'PPN' then\
                    \ set from CUSIP field. Otherwise use CUSIP2_set/CUSIP2_record[CODE='A']/IDENTIFIER"
                  entityType: Instrument
                  entitySubType: ""
                  versions:
                  - "1.1"
                  - "1.2"
              schema:
                $ref: '#/components/schemas/IntegrationPropertyConfiguration'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          description: The requested integration does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] GetIntegrationConfiguration: Get the Field and Property\
        \ Mapping configuration for a given integration"
      tags:
      - Integrations
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/integrations/instances:
    get:
      description: "The user must be authenticated, entitled to call this method,\
        \ and the user's domain must be licensed for the integration."
      operationId: ListInstances
      responses:
        "200":
          content:
            application/json:
              example:
              - id: b64135e7-98a0-41af-a845-d86167d54cc7
                integrationType: copp-clark
                name: Payment systems
                description: Payment systems calendar for GBP only
                enabled: true
                triggers:
                - type: time
                  cronExpression: 0 0 2 ? Dockerfile Dockerfile.cicd LICENSE.md README.md
                    docker-compose.yml docs generate justfile publish resources test_sdk
                    *
                  timeZone: UTC
                details:
                  paymentSystemsCalendar:
                    currencyFilter:
                    - GBP
                    importUnqualified: false
              schema:
                items:
                  $ref: '#/components/schemas/IntegrationInstance'
                type: array
          description: OK
        "404":
          description: The requested instance(s) do not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] ListInstances: List instances across all integrations."
      tags:
      - Integrations
      x-fbn-apistatus: Experimental
      x-accepts: application/json
    post:
      description: "Creates a new instance of an integration, returning its identifier.\r\
        \nThe user must be authenticated, entitled to call this method, and the user's\
        \ domain must be licensed for the integration."
      operationId: CreateInstance
      requestBody:
        content:
          application/json:
            example:
              instanceOptionalProps:
                CreditRating:
                  displayNameOverride: Vendor Credit Rating
                  entityType: Instrument
                  entitySubType:
                  - Equity
                  vendorPackage:
                  - Transaction
              integrationType: copp-clark
              name: Payment Systems
              description: Payment systems calendar for GBP only
              enabled: false
              triggers:
              - type: time
                cronExpression: 0 0 2 ? Dockerfile Dockerfile.cicd LICENSE.md README.md
                  docker-compose.yml docs generate justfile publish resources test_sdk
                  *
                timeZone: UTC
              details:
                paymentSystemsCalendar:
                  currencyFilter:
                  - EUR
                  importUnqualified: false
            schema:
              $ref: '#/components/schemas/CreateInstanceRequest'
        description: The new integration instance.
      responses:
        "201":
          content:
            application/json:
              example:
                id: b64135e7-98a0-41af-a845-d86167d54cc7
              schema:
                $ref: '#/components/schemas/InstanceIdentifier'
          description: Identifier of the created instance.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          description: The integration type does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] CreateInstance: Create a single integration instance."
      tags:
      - Integrations
      x-fbn-apistatus: Experimental
      x-content-type: application/json
      x-accepts: application/json
  /api/integrations/instances/configuration/{integration}/{instanceId}:
    get:
      description: Will return the full list of optional properties configured for
        this integration instance and any naming overrides
      operationId: GetInstanceOptionalPropertyMapping
      parameters:
      - description: The type of the integration e.g. "copp-clark".
        explode: false
        in: path
        name: integration
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier of the instance
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "404":
          description: The requested instance(s) do not exist.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "200":
          content:
            application/json:
              example:
                Instrument/TestVendor/CreditRating:
                  displayNameOverride: Vendor Credit Rating
                  entityType: Instrument
                  entitySubType:
                  - Equity
                  vendorPackage:
                  - Transaction
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/LusidPropertyDefinitionOverridesByType'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] GetInstanceOptionalPropertyMapping: Get the Optional\
        \ Property Mapping for an Integration Instance"
      tags:
      - Integrations
      x-fbn-apistatus: Experimental
      x-accepts: application/json
    put:
      description: "The full list of properties must be supplied, the removal of a\
        \ property from this list will remove it from the integration instance"
      operationId: SetInstanceOptionalPropertyMapping
      parameters:
      - description: Identifier of the instance
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          type: string
        style: simple
      - description: The type of the integration e.g. "copp-clark".
        explode: false
        in: path
        name: integration
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              Instrument/TestVendor/CreditRating:
                displayNameOverride: Vendor Credit Rating
                entityType: Instrument
                entitySubType:
                - Equity
                vendorPackage:
                - Transaction
            schema:
              additionalProperties:
                $ref: '#/components/schemas/LusidPropertyDefinitionOverridesByType'
              type: object
        description: Properties to be included and any overrides
      responses:
        "404":
          description: The requested instance(s) do not exist.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "200":
          content:
            application/json:
              example:
                Instrument/TestVendor/CreditRating:
                  displayNameOverride: Vendor Credit Rating
                  entityType: Instrument
                  entitySubType:
                  - Equity
                  vendorPackage:
                  - Transaction
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/LusidPropertyDefinitionOverridesByType'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] SetInstanceOptionalPropertyMapping: Set the Optional\
        \ Property Mapping for an Integration Instance"
      tags:
      - Integrations
      x-fbn-apistatus: Experimental
      x-content-type: application/json
      x-accepts: application/json
  /api/integrations/instances/{instanceId}:
    delete:
      description: "Deletes an existing instance of an integration, returning its\
        \ identifier.\r\nThe user must be authenticated, entitled to call this method,\
        \ and the user's domain must be licensed for the integration."
      operationId: DeleteInstance
      parameters:
      - description: Instance identifier e.g. "b64135e7-98a0-41af-a845-d86167d54cc7".
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          description: The instance does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] DeleteInstance: Delete a single integration instance."
      tags:
      - Integrations
      x-fbn-apistatus: Experimental
      x-accepts: application/json
    put:
      description: "Updates an existing instance of an integration, returning its\
        \ identifier.\r\nThe user must be authenticated, entitled to call this method,\
        \ and the user's domain must be licensed for the integration."
      operationId: UpdateInstance
      parameters:
      - description: Instance identifier e.g. "b64135e7-98a0-41af-a845-d86167d54cc7".
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              id: b64135e7-98a0-41af-a845-d86167d54cc7
              integrationType: copp-clark
              name: Payment Systems
              description: Payment Systems calendar for EUR only
              enabled: false
              triggers:
              - type: time
                cronExpression: 0 0 5 ? Dockerfile Dockerfile.cicd LICENSE.md README.md
                  docker-compose.yml docs generate justfile publish resources test_sdk
                  *
                timeZone: UTC
              details:
                paymentSystemsCalendar:
                  currencyFilter:
                  - EUR
                  importUnqualified: false
            schema:
              $ref: '#/components/schemas/UpdateInstanceRequest'
        description: The new integration instance.
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          description: The instance does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] UpdateInstance: Update a single integration instance."
      tags:
      - Integrations
      x-fbn-apistatus: Experimental
      x-content-type: application/json
      x-accepts: application/json
  /api/integrations/instances/{instanceId}/execute:
    post:
      description: "Starts execution of an instance, returning its execution identifier.\r\
        \nThe user must be authenticated, entitled to call this method, and the user's\
        \ domain must be licensed for the integration."
      operationId: ExecuteInstance
      parameters:
      - description: Instance identifier e.g. "b64135e7-98a0-41af-a845-d86167d54cc7".
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                executionId: 5f498454-e27e-4403-b892-29ae767879d1
              schema:
                $ref: '#/components/schemas/ExecuteInstanceResponse'
          description: The execution id
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          description: The integration instance does not exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] ExecuteInstance: Execute an integration instance."
      tags:
      - Integrations
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/integrations/instances/{instanceId}/executewithparams:
    post:
      description: "Starts execution of an instance, returning its execution identifier.\r\
        \nThe user must be authenticated, entitled to call this method, and the user's\
        \ domain must be licensed for the integration."
      operationId: ExecuteInstanceWithParams
      parameters:
      - description: Instance identifier e.g. "b64135e7-98a0-41af-a845-d86167d54cc7".
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              para1: val1
              para2: val2
            schema:
              additionalProperties:
                type: string
              type: object
        description: "Dictionary(string,string) of runtime parameters passed to the\
          \ integration instance"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                executionId: 5f498454-e27e-4403-b892-29ae767879d1
              schema:
                $ref: '#/components/schemas/ExecuteInstanceResponse'
          description: The execution id
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          description: The integration instance does not exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] ExecuteInstanceWithParams: Execute an integration instance\
        \ with runtime parameters"
      tags:
      - Integrations
      x-fbn-apistatus: Experimental
      x-content-type: application/json
      x-accepts: application/json
  /api/integrations/instances/{instanceId}/executions:
    get:
      description: "Get the most recent execution ids for an integration instance.\r\
        \nThe user must be authenticated, entitled to call this method, and the user's\
        \ domain must be licensed for the integration."
      operationId: GetExecutionIdsForInstance
      parameters:
      - description: Instance identifier e.g. "30dc93c6-a127-46bf-aea8-e466d720b72d".
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          type: string
        style: simple
      - description: Maximum number of returned execution ids
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: The execution ids sorted by start date (descending)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          description: The integration instance does not exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] GetExecutionIdsForInstance: Get integration instance\
        \ execution ids."
      tags:
      - Integrations
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/integrations/schema/{integration}:
    get:
      description: "The user must be authenticated, entitled to call this method,\
        \ and the user's domain must be licensed for the integration."
      operationId: GetSchema
      parameters:
      - description: The type of the integration e.g. "copp-clark".
        explode: false
        in: path
        name: integration
        required: true
        schema:
          maxLength: 128
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSchema'
          description: The system defined JSON schema for the details of a specified
            integration.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          description: The integration type does not exist or is not enabled.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] GetSchema: Get the JSON schema for the details section\
        \ of an integration instance."
      tags:
      - Integrations
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/logs:
    get:
      description: Get integration log results
      operationId: GetIntegrationLogResults
      parameters:
      - description: Expression to filter the result set.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          maxLength: 16384
          minLength: 0
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: "A list of field names or properties to sort by, each suffixed\
          \ by \" ASC\" or \" DESC\"."
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: true
      - description: "When paginating, limit the results to this number."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          maximum: 5000
          minimum: 1
          type: integer
        style: form
        x-nullable: true
      - description: "The pagination token to use to continue listing integration\
          \ logs; this value is returned from\r\n the previous call. If a pagination\
          \ token is provided, the <i>sortBy</i> and <i>filter</i> fields must not\
          \ have changed since the original request.\r\n For more information, see\
          \ https://support.lusid.com/knowledgebase/article/KA-01915."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          default: ""
          maxLength: 500
          minLength: 1
          pattern: "^[a-zA-Z0-9\\+/]*={0,3}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                values:
                - logId: 3
                  runId: 25a7cd55-0df1-47ac-a893-280b8c99ea3c
                  parentLogId: 1
                  logType: Resource
                  firstActivity: 2024-02-04T00:00:00.0000000+00:00
                  lastActivity: 2024-02-05T00:00:00.0000000+00:00
                  status: PayloadFailed
                  sourceRecord:
                    recordType: Security
                    idType: IMOS-ID
                    idValue: sec-4
                    attributeName: country
                    attributeValue: Beeelgium
                  targetRecord:
                    recordAction: Create
                    recordType: Instrument
                    idType: LusidInstrumentId
                    idValue: LUID_4
                    attributeName: country
                    attributeValue: Beeelgium
                  activities:
                  - timestamp: 2024-02-05T00:00:00.0000000+00:00
                    resultingStatus: ResourcePartLoaded
                    messageType: Information
                    description: Existing target record resolved
                href: http://www.lusid.com/horizon/logs
                nextPage: nextPage
                previousPage: prevPage
                links:
                - relation: NextPage
                  href: http://www.lusid.com/horizon/logs
                  method: GET
                - relation: PreviousPage
                  href: http://www.lusid.com/horizon/logs
                  method: GET
              schema:
                $ref: '#/components/schemas/PagedResourceListOfIIntegrationLogResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] GetIntegrationLogResults: Get integration log results"
      tags:
      - Logs
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/logs/runid:
    post:
      operationId: InsertExternalLogs
      parameters:
      - description: ""
        explode: false
        in: path
        name: runid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              logs:
              - logid: 2
                parentlogid: 1
                loglevel: Payload
                logstatus: PayloadExtracted
                timestamp: 2025-01-22 23:12:13.1234
            schema:
              $ref: '#/components/schemas/ExternalLogInsertionRequest'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/ExternalLogInsertionResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] InsertExternalLogs: Inserts external logs into the\
        \ specified ExternalApp Integration instance execution"
      tags:
      - Logs
      x-fbn-apistatus: Experimental
      x-content-type: application/json
      x-accepts: application/json
  /api/process-history/$latestRuns:
    get:
      operationId: GetLatestRuns
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProcessInformation'
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] GetLatestRuns: Get latest run for each process"
      tags:
      - ProcessHistory
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/process-history/$query:
    post:
      operationId: ProcessHistoryEntries
      parameters:
      - explode: true
        in: query
        name: processName
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json-patch+json:
            example:
              specification:
                limit: 10
            schema:
              $ref: '#/components/schemas/QueryRequest'
          application/json:
            example:
              specification:
                limit: 10
            schema:
              $ref: '#/components/schemas/QueryRequest'
          text/json:
            example:
              specification:
                limit: 10
            schema:
              $ref: '#/components/schemas/QueryRequest'
          application/*+json:
            example:
              specification:
                limit: 10
            schema:
              $ref: '#/components/schemas/QueryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResourceListOfProcessInformation'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] ProcessHistoryEntries: Get process history entries"
      tags:
      - ProcessHistory
      x-fbn-apistatus: EarlyAccess
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/process-history/entries/$query:
    post:
      operationId: ProcessEntryUpdates
      parameters:
      - explode: true
        in: query
        name: runId
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json-patch+json:
            example:
              specification:
                limit: 10
            schema:
              $ref: '#/components/schemas/QueryRequest'
          application/json:
            example:
              specification:
                limit: 10
            schema:
              $ref: '#/components/schemas/QueryRequest'
          text/json:
            example:
              specification:
                limit: 10
            schema:
              $ref: '#/components/schemas/QueryRequest'
          application/*+json:
            example:
              specification:
                limit: 10
            schema:
              $ref: '#/components/schemas/QueryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResourceListOfProcessUpdateResult'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] ProcessEntryUpdates: Get process entry updates for\
        \ a query"
      tags:
      - ProcessHistory
      x-fbn-apistatus: EarlyAccess
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/process-history/event/complete:
    post:
      operationId: CreateCompleteEvent
      requestBody:
        content:
          application/json-patch+json:
            example:
              id: HorizonErrorNotification
              userId: lusid-scheduler
              schedulerRunId: 58d2f99c-4ed1-4e1b-8765-dcd604182312
              startTime: 2024-11-13T12:39:44.0000000+00:00
              endTime: 2024-11-13T12:40:59.0000000+00:00
              message: Process returned non-zero exit status 1
              status: Error
              rowsTotal: 0
              rowsSucceeded: 0
              rowsFailed: 0
              rowsIgnored: 0
              auditFiles:
              - fileType: Error
                filePathAndName: Some/Drive/File/Path
              processNameOverride: SIX Instrument Reference Data Load (job manual
                run)
            schema:
              $ref: '#/components/schemas/AuditCompleteRequest'
          application/json:
            example:
              id: HorizonErrorNotification
              userId: lusid-scheduler
              schedulerRunId: 58d2f99c-4ed1-4e1b-8765-dcd604182312
              startTime: 2024-11-13T12:39:44.0000000+00:00
              endTime: 2024-11-13T12:40:59.0000000+00:00
              message: Process returned non-zero exit status 1
              status: Error
              rowsTotal: 0
              rowsSucceeded: 0
              rowsFailed: 0
              rowsIgnored: 0
              auditFiles:
              - fileType: Error
                filePathAndName: Some/Drive/File/Path
              processNameOverride: SIX Instrument Reference Data Load (job manual
                run)
            schema:
              $ref: '#/components/schemas/AuditCompleteRequest'
          text/json:
            example:
              id: HorizonErrorNotification
              userId: lusid-scheduler
              schedulerRunId: 58d2f99c-4ed1-4e1b-8765-dcd604182312
              startTime: 2024-11-13T12:39:44.0000000+00:00
              endTime: 2024-11-13T12:40:59.0000000+00:00
              message: Process returned non-zero exit status 1
              status: Error
              rowsTotal: 0
              rowsSucceeded: 0
              rowsFailed: 0
              rowsIgnored: 0
              auditFiles:
              - fileType: Error
                filePathAndName: Some/Drive/File/Path
              processNameOverride: SIX Instrument Reference Data Load (job manual
                run)
            schema:
              $ref: '#/components/schemas/AuditCompleteRequest'
          application/*+json:
            example:
              id: HorizonErrorNotification
              userId: lusid-scheduler
              schedulerRunId: 58d2f99c-4ed1-4e1b-8765-dcd604182312
              startTime: 2024-11-13T12:39:44.0000000+00:00
              endTime: 2024-11-13T12:40:59.0000000+00:00
              message: Process returned non-zero exit status 1
              status: Error
              rowsTotal: 0
              rowsSucceeded: 0
              rowsFailed: 0
              rowsIgnored: 0
              auditFiles:
              - fileType: Error
                filePathAndName: Some/Drive/File/Path
              processNameOverride: SIX Instrument Reference Data Load (job manual
                run)
            schema:
              $ref: '#/components/schemas/AuditCompleteRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditCompleteResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] CreateCompleteEvent: Write a completed event to the\
        \ Horizon Dashboard"
      tags:
      - ProcessHistory
      x-fbn-apistatus: EarlyAccess
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/process-history/event/update:
    post:
      operationId: CreateUpdateEvent
      requestBody:
        content:
          application/json-patch+json:
            example:
              id: HorizonStatusEventStartedOrProcessing
              userId: lusid-scheduler
              schedulerRunId: 56f799b5-fdee-4b60-a099-bf0542304e83
              startTime: 2024-11-13T12:40:44.0000000+00:00
              message: Process starting
              processNameOverride: Some Integration Schedule
            schema:
              $ref: '#/components/schemas/AuditUpdateRequest'
          application/json:
            example:
              id: HorizonStatusEventStartedOrProcessing
              userId: lusid-scheduler
              schedulerRunId: 56f799b5-fdee-4b60-a099-bf0542304e83
              startTime: 2024-11-13T12:40:44.0000000+00:00
              message: Process starting
              processNameOverride: Some Integration Schedule
            schema:
              $ref: '#/components/schemas/AuditUpdateRequest'
          text/json:
            example:
              id: HorizonStatusEventStartedOrProcessing
              userId: lusid-scheduler
              schedulerRunId: 56f799b5-fdee-4b60-a099-bf0542304e83
              startTime: 2024-11-13T12:40:44.0000000+00:00
              message: Process starting
              processNameOverride: Some Integration Schedule
            schema:
              $ref: '#/components/schemas/AuditUpdateRequest'
          application/*+json:
            example:
              id: HorizonStatusEventStartedOrProcessing
              userId: lusid-scheduler
              schedulerRunId: 56f799b5-fdee-4b60-a099-bf0542304e83
              startTime: 2024-11-13T12:40:44.0000000+00:00
              message: Process starting
              processNameOverride: Some Integration Schedule
            schema:
              $ref: '#/components/schemas/AuditUpdateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditUpdateResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] CreateUpdateEvent: Write an update event to the Horizon\
        \ Dashboard"
      tags:
      - ProcessHistory
      x-fbn-apistatus: EarlyAccess
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/runs:
    get:
      description: Get run results
      operationId: GetRunResults
      parameters:
      - description: Expression to filter the result set.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          maxLength: 16384
          minLength: 0
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: "A list of field names or properties to sort by, each suffixed\
          \ by \" ASC\" or \" DESC\"."
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: true
      - description: "When paginating, limit the results to this number."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          maximum: 5000
          minimum: 1
          type: integer
        style: form
        x-nullable: true
      - description: "The pagination token to use to continue listing integration\
          \ runs; this value is returned from\r\n the previous call. If a pagination\
          \ token is provided, the <i>sortBy</i> and <i>filter</i> fields must not\
          \ have changed since the original request."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          default: ""
          maxLength: 500
          minLength: 1
          pattern: "^[a-zA-Z0-9\\+/]*={0,3}$"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResourceListOfIntegrationRunResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          description: Not Found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] GetRunResults: Get run results"
      tags:
      - Runs
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/runs/{runId}/cancel:
    put:
      description: "Cancels an execution instance of an integration.\r\nThe execution\
        \ instance must be queued, the user must be authenticated, entitled to call\
        \ this method, and the user's domain must be licensed for the integration."
      operationId: CancelInstance
      parameters:
      - description: Run identifier e.g. "b64135e7-98a0-41af-a845-d86167d54cc7".
        explode: false
        in: path
        name: runId
        required: true
        schema:
          maxLength: 36
          minLength: 36
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationCancellationResponse'
          description: The instance was cancelled.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          description: The execution does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] CancelInstance: Cancels a single instance execution."
      tags:
      - Runs
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/runs/{runId}/rerun:
    put:
      description: "Reruns an execution instance of an integration.\r\nThe user must\
        \ be authenticated, entitled to call this method, and the user's domain must\
        \ be licensed for the integration."
      operationId: RerunInstance
      parameters:
      - description: Run identifier e.g. "b64135e7-98a0-41af-a845-d86167d54cc7".
        explode: false
        in: path
        name: runId
        required: true
        schema:
          maxLength: 36
          minLength: 36
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRerunResponse'
          description: The instance was rerun.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          description: The execution does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] RerunInstance: Reruns a single instance execution."
      tags:
      - Runs
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/runs/{runId}/stop:
    put:
      description: "Stops an execution instance of an External Client Application\
        \ integration type.\r\nThe execution instance must be started, the user must\
        \ be authenticated, entitled to call this method, and the user's domain must\
        \ be licensed for the integration."
      operationId: StopInstanceExecution
      parameters:
      - description: Run identifier e.g. "b64135e7-98a0-41af-a845-d86167d54cc7".
        explode: false
        in: path
        name: runId
        required: true
        schema:
          maxLength: 36
          minLength: 36
          pattern: "^[a-zA-Z0-9\\-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationEndResponse'
          description: The instance was stopped.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "404":
          description: The execution does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] StopInstanceExecution: Stops a single instance execution."
      tags:
      - Runs
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/vendor/$query:
    post:
      operationId: QueryVendors
      requestBody:
        content:
          application/json-patch+json:
            example:
              specification:
                limit: 10
            schema:
              $ref: '#/components/schemas/QueryRequest'
          application/json:
            example:
              specification:
                limit: 10
            schema:
              $ref: '#/components/schemas/QueryRequest'
          text/json:
            example:
              specification:
                limit: 10
            schema:
              $ref: '#/components/schemas/QueryRequest'
          application/*+json:
            example:
              specification:
                limit: 10
            schema:
              $ref: '#/components/schemas/QueryRequest'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                values:
                - vendorName: myVendor
                  productName: myProduct
                  vendorProductKey: myKey
                  lusidEntity:
                    entityType: Instrument
                    entityTypeDisplayName: Instrument
                    entitySubType: Equity
                    entitySubTypeDisplayName: Equity
                href: http://www.lusid.com/horizon
                nextPage: nextPage
                previousPage: prevPage
                links:
                - relation: NextPage
                  href: http://www.lusid.com/horizon
                  method: GET
                - relation: PreviousPage
                  href: http://www.lusid.com/horizon
                  method: GET
              schema:
                $ref: '#/components/schemas/PagedResourceListOfVendorProduct'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] QueryVendors: Query for vendors and their packages\
        \ with entities and sub-entities."
      tags:
      - Vendor
      x-fbn-apistatus: EarlyAccess
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/vendor/mappings/fields:
    get:
      operationId: GetCoreFieldMappingsForProductEntity
      parameters:
      - description: ""
        explode: true
        in: query
        name: vendorName
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: productName
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: lusidEntityType
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: lusidEntitySubType
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - fieldName: lusid-core-field
                vendorPackages:
                - vendor-package-1
                - vendor-package-2
                vendorNamespaces:
                - vendor-namespace-1
                - vendor-namespace-2
                vendorFields:
                - vendor-field-1
                - vendor-field-2
                transformationDescription: transformationDescription
                entityType: Instrument
              schema:
                items:
                  $ref: '#/components/schemas/LusidField'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] GetCoreFieldMappingsForProductEntity: Get core field\
        \ mappings for a given vendor product's entity."
      tags:
      - Vendor
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/vendor/mappings/optional:
    get:
      operationId: GetOptionalMappingsForProductEntity
      parameters:
      - description: ""
        explode: true
        in: query
        name: vendorName
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: productName
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: lusidEntityType
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: lusidEntitySubType
        required: false
        schema:
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "200":
          content:
            application/json:
              example:
                "0":
                  displayNameOverride: descriptionOverride
                  descriptionOverride: displayNameOverride
                "1":
                  displayNameOverride: descriptionOverride
                  descriptionOverride: displayNameOverride
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/LusidPropertyDefinitionOverrides'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] GetOptionalMappingsForProductEntity: Get a user defined\
        \ LUSID property mappings for the specified vendor / LUSID entity."
      tags:
      - Vendor
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    post:
      operationId: SetOptionalMappingsForProductEntity
      parameters:
      - description: ""
        explode: true
        in: query
        name: vendorName
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: productName
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: lusidEntityType
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: lusidEntitySubType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json-patch+json:
            example:
              "0":
                displayNameOverride: descriptionOverride
                descriptionOverride: displayNameOverride
              "1":
                displayNameOverride: descriptionOverride
                descriptionOverride: displayNameOverride
            schema:
              additionalProperties:
                $ref: '#/components/schemas/LusidPropertyDefinitionOverrides'
              type: object
          application/json:
            example:
              "0":
                displayNameOverride: descriptionOverride
                descriptionOverride: displayNameOverride
              "1":
                displayNameOverride: descriptionOverride
                descriptionOverride: displayNameOverride
            schema:
              additionalProperties:
                $ref: '#/components/schemas/LusidPropertyDefinitionOverrides'
              type: object
          text/json:
            example:
              "0":
                displayNameOverride: descriptionOverride
                descriptionOverride: displayNameOverride
              "1":
                displayNameOverride: descriptionOverride
                descriptionOverride: displayNameOverride
            schema:
              additionalProperties:
                $ref: '#/components/schemas/LusidPropertyDefinitionOverrides'
              type: object
          application/*+json:
            example:
              "0":
                displayNameOverride: descriptionOverride
                descriptionOverride: displayNameOverride
              "1":
                displayNameOverride: descriptionOverride
                descriptionOverride: displayNameOverride
            schema:
              additionalProperties:
                $ref: '#/components/schemas/LusidPropertyDefinitionOverrides'
              type: object
        description: ""
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        "200":
          content:
            application/json:
              example:
                Domain/LUSID-Scope/Code1:
                  action: upsert
                  displayNameOverride: descriptionOverride
                  descriptionOverride: displayNameOverride
                Domain/LUSID-Scope/Code2:
                  action: delete
                  displayNameOverride: descriptionOverride
                  descriptionOverride: displayNameOverride
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/LusidPropertyDefinitionOverridesResponse'
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] SetOptionalMappingsForProductEntity: Create a user\
        \ defined LUSID property mappings for the specified vendor / LUSID entity."
      tags:
      - Vendor
      x-fbn-apistatus: EarlyAccess
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/vendor/mappings/properties:
    get:
      operationId: GetPropertyMappingsForProductEntity
      parameters:
      - description: ""
        explode: true
        in: query
        name: vendorName
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: productName
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: lusidEntityType
        required: true
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: lusidEntitySubType
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - property:
                  key: Domain/LUSID-Scope/Code1
                  productEntityItemKey: "0"
                  domain: Domain
                  scope: LUSID-Scope
                  code: Code1
                  displayName: Example Property
                  dataTypeId:
                    scope: data-type-id-scope
                    code: data-type-id-code
                  description: An example property mapping
                  lifetime: TimeVariant
                  constraintStyle: Property
                vendorField: example-vendor-field
                vendorPackage: example-vendor-package
                vendorNamespace: example-vendor-namespace
                optionality: Mandatory
              schema:
                items:
                  $ref: '#/components/schemas/LusidPropertyToVendorFieldMapping'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] GetPropertyMappingsForProductEntity: Gets the property\
        \ mappings for a given vendor product's entity"
      tags:
      - Vendor
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
components:
  schemas:
    AllowedParameterValue:
      additionalProperties: false
      description: An allowed parameter value for an OpenFigi Parameter Option.
      example:
        allowedValue: allowedValue
      properties:
        allowedValue:
          description: ""
          type: string
      required:
      - allowedValue
      type: object
    AuditCompleteRequest:
      additionalProperties: false
      description: An incoming request for a Horizon Complete Event
      example:
        auditFiles:
        - filePathAndName: filePathAndName
          fileType: null
        - filePathAndName: filePathAndName
          fileType: null
        rowsFailed: 1
        schedulerRunId: schedulerRunId
        rowsIgnored: 5
        message: message
        userId: userId
        rowsSucceeded: 6
        processNameOverride: processNameOverride
        rowsTotal: 0
        startTime: 2000-01-23T04:56:07.000+00:00
        id: id
        endTime: 2000-01-23T04:56:07.000+00:00
        status: null
      properties:
        id:
          description: A unique ID identifiying the source of the event
          maxLength: 1024
          minLength: 0
          type: string
        userId:
          description: A unique ID identifiying who owns the schedule
          maxLength: 1024
          minLength: 0
          type: string
        schedulerRunId:
          description: The GUID of the schedule run
          maxLength: 1024
          minLength: 0
          type: string
        startTime:
          description: When the run was started in UTC
          format: date-time
          type: string
        endTime:
          description: When the run finished in UTC
          format: date-time
          type: string
        message:
          description: A descriptive message to accompany the status
          maxLength: 1024
          minLength: 0
          type: string
        status:
          $ref: '#/components/schemas/AuditCompleteStatus'
        rowsTotal:
          description: The number of data rows operated on
          format: int32
          type: integer
        rowsSucceeded:
          description: The number of data rows successfully operated on
          format: int32
          type: integer
        rowsFailed:
          description: The number of data rows that failed to be operated on
          format: int32
          type: integer
        rowsIgnored:
          description: The number of data rows that had no actions taken
          format: int32
          type: integer
        auditFiles:
          description: A list of file details for attaching to the event
          items:
            $ref: '#/components/schemas/AuditFileDetails'
          type: array
        processNameOverride:
          description: Optional Name for how the process appears in Data Feed Monitoring
          maxLength: 1024
          minLength: 0
          nullable: true
          type: string
      required:
      - auditFiles
      - endTime
      - id
      - message
      - rowsFailed
      - rowsIgnored
      - rowsSucceeded
      - rowsTotal
      - schedulerRunId
      - startTime
      - status
      - userId
      type: object
    AuditCompleteResponse:
      additionalProperties: false
      description: Response type for Horizon Audit Event
      example:
        processName: processName
      properties:
        processName:
          description: The name of the Process the events will be visible under
          type: string
      required:
      - processName
      type: object
    AuditCompleteStatus:
      description: The set of available completion statuses
      enum:
      - Succeeded
      - Completed
      - Error
      type: string
    AuditFileDetails:
      additionalProperties: false
      description: Holds information about Horizon Audit Files
      example:
        filePathAndName: filePathAndName
        fileType: null
      properties:
        fileType:
          $ref: '#/components/schemas/AuditFileType'
        filePathAndName:
          description: ""
          type: string
      required:
      - filePathAndName
      - fileType
      type: object
    AuditFileType:
      description: Available Horizon Audit File Types
      enum:
      - SourceData
      - Info
      - Error
      type: string
    AuditUpdateRequest:
      additionalProperties: false
      description: An incoming request for a Horizon Update Event
      example:
        processNameOverride: processNameOverride
        startTime: 2000-01-23T04:56:07.000+00:00
        id: id
        schedulerRunId: schedulerRunId
        message: message
        userId: userId
      properties:
        id:
          description: A unique ID identifiying the source of the event
          maxLength: 1024
          minLength: 0
          type: string
        userId:
          description: A unique ID identifiying who owns the schedule
          maxLength: 1024
          minLength: 0
          type: string
        schedulerRunId:
          description: The GUID of the schedule run
          maxLength: 1024
          minLength: 0
          type: string
        startTime:
          description: When the run was started in UTC
          format: date-time
          type: string
        message:
          description: A descriptive message to accompany the status
          maxLength: 1024
          minLength: 0
          type: string
        processNameOverride:
          description: Optional Name for how the process appears in Data Feed Monitoring
          maxLength: 1024
          minLength: 0
          nullable: true
          type: string
      required:
      - id
      - message
      - schedulerRunId
      - startTime
      - userId
      type: object
    AuditUpdateResponse:
      additionalProperties: false
      description: Response type for Horizon Audit Event
      example:
        processName: processName
      properties:
        processName:
          description: The name of the Process the events will be visible under
          type: string
      required:
      - processName
      type: object
    CreateInstanceRequest:
      additionalProperties: false
      example:
        instanceOptionalProps:
          key:
            displayNameOverride: displayNameOverride
            entityType: entityType
            entitySubType:
            - entitySubType
            - entitySubType
            descriptionOverride: descriptionOverride
            vendorPackage:
            - vendorPackage
            - vendorPackage
        integrationType: integrationType
        name: name
        description: description
        details: "{}"
        triggers:
        - cronExpression: cronExpression
          timeZone: timeZone
          type: type
        - cronExpression: cronExpression
          timeZone: timeZone
          type: type
        enabled: true
      properties:
        instanceOptionalProps:
          additionalProperties:
            $ref: '#/components/schemas/LusidPropertyDefinitionOverridesByType'
          nullable: true
          type: object
        integrationType:
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        name:
          maxLength: 128
          minLength: 0
          type: string
        description:
          maxLength: 1024
          minLength: 0
          type: string
        enabled:
          type: boolean
        triggers:
          items:
            $ref: '#/components/schemas/Trigger'
          type: array
        details:
          additionalProperties: false
          type: object
      required:
      - description
      - details
      - enabled
      - integrationType
      - name
      - triggers
      type: object
    EnrichmentResponse:
      additionalProperties: false
      description: Collated enrichment result information
      example:
        errorFileId: errorFileId
        enrichedInstruments:
        - enrichedInstruments
        - enrichedInstruments
        ignoredInstruments:
        - ignoredInstruments
        - ignoredInstruments
      properties:
        enrichedInstruments:
          description: ""
          items:
            type: string
          type: array
        ignoredInstruments:
          description: ""
          items:
            type: string
          type: array
        errorFileId:
          description: "Error File ID, if one was created"
          nullable: true
          type: string
      required:
      - enrichedInstruments
      - ignoredInstruments
      type: object
    ExecuteInstanceResponse:
      additionalProperties: false
      description: Response for executing an instance.
      example:
        executionId: executionId
      properties:
        executionId:
          description: Identifier for the execution of the integration instance
          type: string
      required:
      - executionId
      type: object
    ExternalLogInsertionRequest:
      additionalProperties: false
      example:
        logs:
        - targetprimaryidvalue: targetprimaryidvalue
          parentlogid: 6
          messagetype: messagetype
          logstatus: logstatus
          message: message
          targetprimaryidtype: targetprimaryidtype
          sourcerecordtype: sourcerecordtype
          sourceprimaryidtype: sourceprimaryidtype
          targetrecordtype: targetrecordtype
          loglevel: loglevel
          sourceprimaryidvalue: sourceprimaryidvalue
          targetrecordaction: targetrecordaction
          logid: 0
          timestamp: timestamp
        - targetprimaryidvalue: targetprimaryidvalue
          parentlogid: 6
          messagetype: messagetype
          logstatus: logstatus
          message: message
          targetprimaryidtype: targetprimaryidtype
          sourcerecordtype: sourcerecordtype
          sourceprimaryidtype: sourceprimaryidtype
          targetrecordtype: targetrecordtype
          loglevel: loglevel
          sourceprimaryidvalue: sourceprimaryidvalue
          targetrecordaction: targetrecordaction
          logid: 0
          timestamp: timestamp
      properties:
        logs:
          items:
            $ref: '#/components/schemas/ExternalLogRecord'
          type: array
      required:
      - logs
      type: object
    ExternalLogInsertionResponse:
      additionalProperties: false
      type: object
    ExternalLogRecord:
      additionalProperties: false
      example:
        targetprimaryidvalue: targetprimaryidvalue
        parentlogid: 6
        messagetype: messagetype
        logstatus: logstatus
        message: message
        targetprimaryidtype: targetprimaryidtype
        sourcerecordtype: sourcerecordtype
        sourceprimaryidtype: sourceprimaryidtype
        targetrecordtype: targetrecordtype
        loglevel: loglevel
        sourceprimaryidvalue: sourceprimaryidvalue
        targetrecordaction: targetrecordaction
        logid: 0
        timestamp: timestamp
      properties:
        logid:
          format: int64
          type: integer
        parentlogid:
          format: int64
          nullable: true
          type: integer
        loglevel:
          type: string
        logstatus:
          type: string
        sourcerecordtype:
          nullable: true
          type: string
        sourceprimaryidtype:
          nullable: true
          type: string
        sourceprimaryidvalue:
          nullable: true
          type: string
        targetrecordtype:
          nullable: true
          type: string
        targetrecordaction:
          nullable: true
          type: string
        targetprimaryidtype:
          nullable: true
          type: string
        targetprimaryidvalue:
          nullable: true
          type: string
        message:
          nullable: true
          type: string
        messagetype:
          nullable: true
          type: string
        timestamp:
          type: string
      required:
      - logid
      - loglevel
      - logstatus
      - timestamp
      type: object
    FieldMapping:
      additionalProperties: false
      description: Mapping from a set of Vendor Fields to a LUSID core entity field
      example:
        fieldName: fieldName
        versions:
        - versions
        - versions
        defaultValue: defaultValue
        entityType: entityType
        entitySubType: entitySubType
        vendorFields:
        - package: package
          field: field
        - package: package
          field: field
        transformationDescription: transformationDescription
      properties:
        fieldName:
          description: The LUSID core entity field
          type: string
        defaultValue:
          description: Default value if needed
          nullable: true
          type: string
        vendorFields:
          description: Fields that will be used to map to this field
          items:
            $ref: '#/components/schemas/VendorField'
          type: array
        transformationDescription:
          description: "The transformation, if required, to map from VendorFields\
            \ to the LUSID Property"
          nullable: true
          type: string
        entityType:
          description: The LUSID Entity this is valid for
          type: string
        entitySubType:
          description: The LUSID Entity sub type this is valid for
          nullable: true
          type: string
        versions:
          description: The versions of the Vendor integration this mapping is valid
            for
          items:
            type: string
          type: array
      required:
      - entityType
      - fieldName
      - vendorFields
      - versions
      type: object
    FileDetails:
      additionalProperties: false
      description: Information associated with files
      example:
        fileName: fileName
        id: id
        fileType: fileType
      properties:
        fileName:
          description: ""
          type: string
        fileType:
          description: ""
          nullable: true
          type: string
        id:
          description: ""
          type: string
      required:
      - fileName
      - id
      type: object
    Identifiers:
      additionalProperties: false
      description: A list of lusid instrument ids
      example:
        lusidInstrumentIds:
        - lusidInstrumentIds
        - lusidInstrumentIds
      properties:
        lusidInstrumentIds:
          description: ""
          items:
            type: string
          type: array
      required:
      - lusidInstrumentIds
      type: object
    IIntegrationLogResponse:
      additionalProperties: false
      example:
        logType: logType
        firstActivity: 2000-01-23T04:56:07.000+00:00
        parentLogId: 6
        activities:
        - messageType: messageType
          description: description
          resultingStatus: resultingStatus
          timestamp: 2000-01-23T04:56:07.000+00:00
        - messageType: messageType
          description: description
          resultingStatus: resultingStatus
          timestamp: 2000-01-23T04:56:07.000+00:00
        logId: 0
        lastActivity: 2000-01-23T04:56:07.000+00:00
        sourceRecord:
          idType: idType
          attributeValue: attributeValue
          recordType: recordType
          idValue: idValue
          attributeName: attributeName
        targetRecord:
          idType: idType
          recordAction: recordAction
          attributeValue: attributeValue
          recordType: recordType
          idValue: idValue
          attributeName: attributeName
        runId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: status
      properties:
        logId:
          format: int64
          readOnly: true
          type: integer
        runId:
          format: uuid
          nullable: true
          readOnly: true
          type: string
        parentLogId:
          format: int64
          nullable: true
          readOnly: true
          type: integer
        logType:
          readOnly: true
          type: string
        firstActivity:
          format: date-time
          nullable: true
          readOnly: true
          type: string
        lastActivity:
          format: date-time
          nullable: true
          readOnly: true
          type: string
        status:
          nullable: true
          readOnly: true
          type: string
        sourceRecord:
          $ref: '#/components/schemas/IntegrationLogRecord'
        targetRecord:
          $ref: '#/components/schemas/IntegrationLogTargetRecord'
        activities:
          items:
            $ref: '#/components/schemas/IntegrationLogActivity'
          readOnly: true
          type: array
      required:
      - activities
      - logId
      - logType
      type: object
    InstanceDetails:
      additionalProperties: false
      type: object
    InstanceExecutionReferenceId:
      additionalProperties: false
      example:
        value: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        value:
          format: uuid
          type: string
      required:
      - value
      type: object
    InstanceIdentifier:
      additionalProperties: false
      description: Identifies a single instance of an integration.
      example:
        id: id
      properties:
        id:
          description: Instance identifier.
          type: string
      required:
      - id
      type: object
    IntegrationCancellationResponse:
      additionalProperties: false
      type: object
    IntegrationDescription:
      additionalProperties: false
      description: Response containing the description of an integration.
      example:
        licensed: true
        supportedTriggerTypes:
        - supportedTriggerTypes
        - supportedTriggerTypes
        name: name
        description: description
        type: type
      properties:
        type:
          description: Unique identifier of the integration e.g. "copp-clark".
          type: string
        name:
          description: Readable name of the integration e.g. "Copp Clark".
          type: string
        description:
          description: Describes the purpose of the integration.
          type: string
        supportedTriggerTypes:
          description: "Trigger types (Time, File) the integration supports."
          items:
            type: string
          type: array
        licensed:
          description: "True if your domain is licensed to use this integration, otherwise\
            \ false."
          type: boolean
      required:
      - description
      - licensed
      - name
      - supportedTriggerTypes
      - type
      type: object
    IntegrationEndResponse:
      additionalProperties: false
      type: object
    IntegrationInstance:
      additionalProperties: false
[...]
