<settings>

  <activeProfiles>
    <activeProfile>sign-artifacts</activeProfile>
  </activeProfiles>
  
  <servers>
    <server>
      <id>ossrh</id>
      <username>finbourne</username>
      <password>${env.MAVEN_TOKEN}</password>
      <configuration>
        <httpConfiguration>
            <all>
                <connectionTimeout>300000</connectionTimeout>
                <readTimeout>600000</readTimeout>
            </all>
        </httpConfiguration>
      </configuration>
    </server>
  </servers>

  <profiles>
    <profile>
        <id>sign-artifacts</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
        <properties>                
            <gpg.passphrase>${env.GPG_KEY_PASSPHRASE}</gpg.passphrase>
        </properties>
      </profile>
  </profiles>
</settings>
